 

 .grid-container2 {
    background-image: url(../img/architecture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
     
 }

html {
    scroll-behavior: smooth;
}
 
// icon styling

.fas {
    color: black;
}

.far {
    color: black;
}

.fab {
    color: black;
}

.fas {
    color: black;
}




.coding-icons {
    font-size: 90px;
}

// fade in effect of page on initial load

* {
    animation: fadein 10s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0.5;
    }
    to {
        opacity:1;
    }
}

// fade in effect on divs

html,body{ 
    margin:0; padding:0;
}
