 

 .grid-container2 {
     background-image: url(../img/architecture.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     
 }

html {
    scroll-behavior: smooth;
}

