 

 .grid-container2 {
     background-image: url(../img/architecture.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     
 }

 *{
     margin-left: 0;
     margin-right: 0px;
 }