@import'partials/variables';


// font imports
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

                        // ===========================//
                        //       Navbar Logo          //
                        //============================//

.logo {
    font-weight: 700;
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-left: 25px;
}

                                //===========================//
                                // Button Styling starts here//
                                //===========================//

 input{
    border-radius: 2px;
    border:none;
    padding: 0.8%;
 }

 .submit-btn {
    width: 80px; 
    height: 25px;
    background-color: $primary-color;
}

 .email-input {
    width:500px;
}

button {
    background-color: transparent;
    font-family: 'Raleway' , sans-serif;
    font-size: 12px;
}

.works-button {
    float: right;
}

                                //============================//
                                // Button Curtain Animations  //
                                //============================//
                            
                              //====================================//
                              //           black button             //                 
                              //====================================//

    .btn {
        width: 150px;
        height: 50px;
        border: 0.005em solid black;
        margin: 30px 0;
        position: relative;
        cursor: pointer;
        transition: all 1s ease;
        overflow: hidden;
    }
    
    .btn > p {
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        z-index: 1;
        transition: all 0.5s ease;
    }
    
    /* sliders */
    .btn:before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        transition: all 0.5s ease;
        color: white;
    }
    
    /* Top Slider */
    .btn-1:before{
        top: -60px;
        left: 0;
    }
    
    /* Hover Effect */
    .btn-1:hover:before {
        top: 0;
    }
    
    .btn:hover p{
        color: white;
    }

                                //===================================//
                                //           white button            // 
                                //===================================//  

    .btn-white {
        width: 150px;
        height: 50px;
        border: 0.005em solid white;
        margin: 30px 0;
        position: relative;
        cursor: pointer;
        transition: all 1s ease;
        overflow: hidden;
    }
    
    .btn-white > p {
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        z-index: 1;
        transition: all 0.5s ease;
    }
    
    /* sliders */
    .btn-white:before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: $white;
        position: absolute;
        transition: all 0.5s ease;
        color: white;
    }
    
    /* Top Slider */
    .btn-2:before{
        top: -60px;
        left: 0;
    }
    
    /* Hover Effect */
    .btn-2:hover:before {
        top: 0;
    }
    
    .btn-white:hover p{
        color: #262626;
    }
                                //===================================//
                                //   All Button Styling ends here    //
                                //===================================//


                                //===================================//
                                //     Auto carousel begins here     //
                                //===================================//

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 200px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 300px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

                                        //=============================//
                                        //    Auto carousel ends here  //
                                        //=============================//

                                        //==================================//
                                        //        header tags styles        //
                                        //==================================//


// .namehead {
//     text-align: center;
//     font-family: 'Montserrat', 'sans-serrif';
//     weight: 700px;
//     font-size: 85px;
//     color: white;
//     line-height: 0.1%;
//   }
//   .namehead:before, .namehead:after{
//     content: "";
//     flex: 1 1;
//     border-bottom: 6px solid white;
//     margin-bottom: auto;
//   }

span {
    color:transparent;
}

.namehead {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', 'sans-serrif';
    weight: 700px;
    font-size: 85px;
    line-height: 0.1%;
  }
  .namehead:before, .namehead:after{
    content: "";
    flex: 1 1;
    border-bottom: 7px solid #000;
    margin-bottom: auto;
  }
  

.surnamehead {
    font-family: 'Montserrat', 'sans-serrif';
    weight: 400px;
    font-size: 30px;
    color: white;
}

.greyhead {
    font-family: 'Montserrat', 'sans-serrif';
    weight: 700px;
    color: #262626;
    line-height: 1%;
    padding-top: 5%;
}

.whitehead {
    font-family: 'Montserrat', 'sans-serrif';
    weight: 700px;
    font-size: 27px;
    color: $white;
    padding-top: 10%;
}

.blackhead {
    font-family: 'Raleway', 'sans-serrif';
    weight: 700px;
    font-size: 24px;
    color: black;

}

.landinghead {
    font-family: 'Raleway', 'sans-serrif';
    weight: 600px;
    font-size: 16px;
}

.works-mainhead {
    font-family: 'Montserrat', 'sans-serrif';
    weight: 700px;
    font-size: 16px;
    color: black;
    text-align: right;
}

.works-minorhead {
    font-family: 'Georgia', 'serrif';
    weight: 300px;
    font-size: 12px;
    color: #4c4c4c;
    text-align: right;
}

                                //=======================//
                                //    Text styling       //
                                //=======================//

.about-me-text {
    font-size: 19px;
    
}
 
.work-brief {
    font-family: 'Georgia', 'serrif';
    weight: 300px;
    font-size: 16px;
    color: #4c4c4c;
}

.watermark {
    font-family: 'Montserrat', 'sans-serrif';
    color: rgba(226, 226, 226, 0.829);
    font-size: 60px;
    text-align: center;
    font-weight: 700;

}

                                //============================//
                                //       text style end       //
                                //============================//

                                //=============================//
                                //       line styles start     //
                                //=============================//

                                
.thickline {
    border-bottom: 4px solid black;
    margin-right: 92%;
}

.thickline2 {
    border-bottom: 4px solid white;
    margin-right: 47%;
    margin-left: 47%;
}
                               

                                    // ================================//
                                    //         Div fade in animation   //
                                    //=================================//




.hide { 
  opacity:0;
}

                                        //===============================//
                                        //        navbar menu styling    //
                                        //==============================//

nav {
    font-family: 'Montserrat', 'sans-serrif';
    text-align: left;
    margin-top: 1%;
    font-size: 28px;
}

.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}

.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}