@import'partials/variables';


// font imports
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

                        // ===========================//
                        //       Navbar Logo          //
                        //============================//

.logo {
    font-weight: 700;
    line-height: 22px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-left: 25px;
    
}

                                //===========================//
                                // Button Styling starts here//
                                //===========================//

 input{
    border-radius: 2px;
    border:none;
    padding: 0.8%;
 }

 .submit-btn {
    width: 80px; 
    height: 25px;
    background-color: $primary-color;
}

 .email-input {
    width:500px;
}

button {
    background-color: transparent;
    font-family: 'Raleway' , sans-serif;
    font-size: 12px;
}

.works-button {
    float: right;
}

                                //============================//
                                // Button Curtain Animations  //
                                //============================//
                            
                              //====================================//
                              //           black button             //                 
                              //====================================//

    .btn {
        width: 9.375em;
        height: 3.125em;
        border: 0.005em solid black;
        margin: 30px 0;
        position: relative;
        cursor: pointer;
        transition: all 1s ease;
        overflow: hidden;
    }
    
    .btn > p {
        text-align: center;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        z-index: 1;
        transition: all 0.5s ease;
    }
    
    /* sliders */
    .btn:before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        transition: all 0.5s ease;
        color: white;
    }
    
    /* Top Slider */
    .btn-1:before{
        top: -60px;
        left: 0;
    }
    
    /* Hover Effect */
    .btn-1:hover:before {
        top: 0;
    }
    
    .btn:hover p{
        color: white;
    }

                                //===================================//
                                //           white button            // 
                                //===================================//  

    .btn-white {
        width: 9.375em;
        height: 3.125em;
        border: 0.005em solid white;
        margin: 1.875em 0;
        position: relative;
        cursor: pointer;
        transition: all 1s ease;
        overflow: hidden;
        
    }
    
    .btn-white > p {
        text-align: center;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        font-size: 16px;
        position: relative;
        z-index: 1;
        transition: all 0.5s ease;
    }
    
    /* sliders */
    .btn-white:before{
        content: "";
        width: 100%;
        height: 100%;
        background-color: $white;
        position: absolute;
        transition: all 0.5s ease;
        color: white;
    }
    
    /* Top Slider */
    .btn-2:before{
        top: -3.750em;
        left: 0;
    }
    
    /* Hover Effect */
    .btn-2:hover:before {
        top: 0;
    }
    
    .btn-white:hover p{
        color: #262626;
    }
                                //===================================//
                                //   All Button Styling ends here    //
                                //===================================//


                                //===================================//
                                //     Image styling begins here     //
                                //===================================//

img {
    width:100px;
    height:100px;
    transition: all 0.6s;
}

img:hover {
    transform: scale(1.4); 
}

                                        //=============================//
                                        //    image styling ends here  //
                                        //=============================//

                                        //==================================//
                                        //        header tags styles        //
                                        //==================================//


.namehead {
    text-align: center;
    font-family: 'Montserrat', 'sans-serrif';
    weight: 700px;
    font-size: 85px;
    color: white;
    line-height: 0.1%;
  }

  

.surnamehead {
    font-family: 'Montserrat', 'sans-serrif';
    weight: 400px;
    font-size: 30px;
    color: white;
}

.greyhead {
    font-family: 'Montserrat', 'sans-serrif';
    weight: 700px;
    color: rgb(51, 82, 82);
    line-height: 1%;
    padding-top: 5%;
}

.whitehead {
    font-family: 'Montserrat', 'sans-serrif';
    weight: 700px;
    font-size: 27px;
    color: $white;
    padding-top: 10%;
}

.blackhead {
    font-family: 'Raleway', 'sans-serrif';
    weight: 700px;
    font-size: 24px;
    color: black;

}

.landinghead {
    font-family: 'Raleway', 'sans-serrif';
    weight: 600px;
    font-size: 16px;
}

.works-mainhead {
    font-family: 'Montserrat', 'sans-serrif';
    weight: 700px;
    font-size: 16px;
    color: black;
    text-align: right;
}

.works-minorhead {
    font-family: 'Georgia', 'serrif';
    weight: 300px;
    font-size: 12px;
    color: #4c4c4c;
    text-align: right;
}

.edu-heading {
    font-family: 'Montserrat', 'sans-serrif';
    color: black;
}

                                //=======================//
                                //    Text styling       //
                                //=======================//

.about-me-text {
    font-size: 19px;
    
}
 
.work-brief {
    font-family: 'Georgia', 'serrif';
    weight: 300px;
    font-size: 16px;
    color: #4c4c4c;
}

.watermark {
    font-family: 'Montserrat', 'sans-serrif';
    color: rgba(226, 226, 226, 0.281);
    font-size: 60px;
    text-align: center;
    font-weight: 700;
}

.edu-para {
    font-family: 'Raleway', 'sans-serrif';
    color: black;
}
                                //============================//
                                //       text style end       //
                                //============================//

                                //=============================//
                                //       line styles start     //
                                //=============================//

                                
.thickline {
    border-bottom: 4px solid black;
    margin-right: 92%;
}

.thickline2 {
    border-bottom: 3px solid white;
    margin-right: 47%;
    margin-left: 47%;
}

.thickline3 {
    border-bottom: 4px solid black;
    margin-right: 45%;
    margin-left:45%;
}

.thickline4 {
    border-bottom: 4px solid white;
    margin-right: 92%;
}

                               

                                    // ================================//
                                    //         Div fade in animation   //
                                    //=================================//




.hide { 
  opacity:0;
}

                                        //===============================//
                                        //        navbar menu styling    //
                                        //==============================//

nav {
    font-family: 'Montserrat', 'sans-serrif';
    text-align: left;
    margin-top: 1%;
    font-size: 28px;
}

.link-1 {
  transition: 0.3s ease;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}

.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}


                                        //===============================//
                                        //        header Font styling    //
                                        //==============================//



                                        //===============================//
                                        //        icons styling         //
                                        //==============================//

.key-traits {
    padding: 50px;
}

                                         //===============================//
                                        //        social icon menu       //
                                        //==============================//

.icon-bar {
  position: fixed;
  right:0%;
  top: 35%;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 25px;
  transition: all 1s ease;
  color: white;
  font-size: 20px;
//   border-radius:150px;
  opacity:0.9;
}

.icon-bar >a:hover {
  background: transparent;
  color: darkslategray;
  transform: scale(1.7);

}

.social-media {
  background: rgba(3, 85, 110, 0.925);
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
                                        

                                         //===============================//
                                        //        social icon menu       //
                                        //==============================//
.footercontent a:hover {
    text-decoration: line-through;
}

.footerlinks {
    text-decoration: none;
    font-family: 'Montserrat', 'sans-serrif';
    weight: 300px;
    font-size: 18px;
    color: black;
}