@import'partials/variables';


// Navbar starts here

.grid-container1{
    display:grid;
    /* Creating columns */
    grid-template-columns: 33.4% auto 55%;
    /* Create spaces between items or "blocks" */
    grid-gap: 0;
    background-color: $primary-color;
    color:white;
    padding:10px;
}

// nav bar styling ends here

// header grid styling
  
.grid-container2{
    display:grid;
    /* Creating columns */
    grid-template-columns: 100%;
    /* Create spaces between items or "blocks" */
    grid-template-rows: auto auto;
    grid-gap: 0;
    background-color: black;
    color:white;
    padding:15% 30%;
}

.grid-container2 >div {
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.headercontent {
    border-bottom: 6px solid white;
    border-top: 6px solid white;
    background-color: transparent; 
}




// Grid-container3 

.grid3content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 50% 50% ;
    /* Create spaces between items or "blocks" */
    grid-auto-rows: auto auto;
    background-color: darkslategray;
    color:white;
    padding: 0 15%;
}
.grid3content >div {
 
}
.item-1 {
    text-align: center;
    background-color: rgb(39, 59, 59);
    font-size: 450%;
}

.item-2 {
    font-family: Georgia ,serif;
    weight: 100px;
    text-align: left;
    margin-left: 50px;


}

// grid-container3 styling ends here

// grid-container4 styling starts here

.grid4content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 28% auto 28% ;
    /* Create spaces between items or "blocks" */
    color:white;
    height: 500px;
}

.grid4content >div {
    text-align: left;
    padding: 20px; 
}

.item-6, .item-8 {
    background-color: rgb(172, 211, 211);

}

.item-6 { 
    transition: all .2s ease-in-out; 
}

.item-6:hover { 
    transform: scale(1.1); 
}

.item-8 { 
    transition: all .2s ease-in-out; 
}

.item-8:hover { 
    transform: scale(1.2); 
}


.item-8 {

}

.item-7 {
    background-image:url(../img/jon_chreiten.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

// Grid-container4 ends here

// grid-container5 starts here

.grid-container5 {
    background-image: url(../img/architecture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-left: 10%;
    padding-top: 4%;
    padding-right: 10%;
}

.grid5content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 33.3% auto 33.3%;
    /* Create spaces between items or "blocks" */
    color:white;
    grid-gap: 10px;
    padding-bottom: 5%;
}

.grid5content >div {
    background-color: rgba(0, 0, 0, 0.247);
    text-align: center;
    padding: 20px;
    height: 100px;
}



.grid-container6 {
    background-color: rgb(104, 9, 9);
    padding-left: 25%;
    padding-top: 4%;
    padding-right: 15%;
}


.grid6content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 25% 25% 25% 25%;
    /* Create spaces between items or "blocks" */
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color:rgb(104, 9, 9);
    color:white;
    padding-right: 4%;
    padding-bottom: 5%;
}

.grid6content >div {
    background-color: royalblue;
    text-align: center;
    padding: 20px;
}

.grid7content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 25% 25% 25% 25%;
    /* Create spaces between items or "blocks" */
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color:rgb(14, 13, 13);
    color:white;
    padding: 2% 20%;
}

.grid7content >div {
    background-color: royalblue;
    text-align: center;
    padding: 20px;
    height: 100px;
}

.grid8content{
    display:grid;
    /* Creating columns */
    grid-template-columns: 100%;
    /* Create spaces between items or "blocks" */
    grid-template-rows: auto auto;
    grid-gap: 0;
    background-color:rgb(156, 6, 6);
    color:white;
    padding: 2% 30%;
}

.grid8content >div {
    background-color: royalblue;
    text-align: center;
    height: 150px;
}

// grid container 9

.grid-container9 {
    display:grid;
    /* Creating columns */
    grid-template-columns: auto;
    /* Create spaces between items or "blocks" */
    
    background-image:url(../img/beachpath.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    padding:5% 20%;
}

.grid-container9 >div {
    text-align: center;
    height: 150px;
}




.grid10content {
    display:grid;
    /* Creating columns */
    grid-template-columns: 35% 17% 24% 24%;
    /* Create spaces between items or "blocks" */
    grid-gap: 5px;
    background-color:rgb(184, 0, 0);
    color:white;
    padding:5% 20%;
}

.grid10content >div {
    background-color: royalblue;
    text-align: center;
    height: 150px;
}

.footercontent {
    display:grid;
    /* Creating columns */
    grid-template-columns: 50% 50%;
    /* Create spaces between items or "blocks" */
    grid-gap: 5px;
    background-color:rgb(184, 0, 0);
    color:white;
    padding-top: 5%;
    padding-right: 1%;
}

.footercontent >div {
    background-color: royalblue;
    text-align: center;
    height: 150px;
}
 

