
$primary-color: darkslategray;
$darkgray: #222222;
$gray: #262626;
$lightgray: #2D2D2D;
$white: #FFFFFF;
$smokewhite: #EEEEEE;
$dimgray: #252525;


$light: #e7e5e4;
$dark: #131313;
$white: #ffffff; // white
$dark-blue: #303e49; // blue dark